<div *ngIf="config" class="widget-filter" [ngStyle]="{'top':'10px'}">
    <mat-button-toggle-group appearance="legacy" #securityFilter="matButtonToggleGroup" [value]="selectedFilter" (change)="onFilterChange(securityFilter.value)">
        <mat-button-toggle value="ROGUEAPS">Rogue APs</mat-button-toggle>
        <mat-button-toggle value="INTERFERINGAPS">Interfering APs</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<ng-container *ngIf="config">
    <h2 class="chart-header grid">{{config.name}}</h2>
    <div class="db-grid-wrapper">
        <central-ag-grid *ngIf="selectedFilter==='ROGUEAPS'&&gridConfigRogueAps" #RogueApsGrid [labels]="langLabels" [config]="gridConfigRogueAps"></central-ag-grid>
        <central-ag-grid *ngIf="selectedFilter==='INTERFERINGAPS'&&gridConfigIAps" #IApsGrid [labels]="langLabels" [config]="gridConfigIAps"></central-ag-grid>
    </div>
</ng-container>