<h1>Drag&Drop with a flex-wrap</h1>

<button (click)="add()">Add</button> <button (click)="shuffle()">Shuffle</button><br/>
<ul class="example-list"><li *ngFor="let item of items">{{ item }}</li></ul>

<div class="example-container" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()"></div>
  <div cdkDropList *ngFor="let item of items"
       [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()">
    <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);">{{item}}</div>
  </div>
</div> 