$icomoon-font-family: "ArubaIcon" !default;
$icomoon-font-path: "/assets/fonts" !default;

$aruba-icon-thumb-down-filled: "\e9a7";
$aruba-icon-thumb-up-filled: "\e9a8";
$aruba-icon-access-point: "\e900";
$aruba-icon-access-point-add: "\e901";
$aruba-icon-access-point-outdoor: "\e902";
$aruba-icon-add: "\e903";
$aruba-icon-add-circle: "\e904";
$aruba-icon-airgroup: "\e905";
$aruba-icon-applications-visibility: "\e906";
$aruba-icon-app-rf: "\e907";
$aruba-icon-apps: "\e908";
$aruba-icon-arrow-diagonal: "\e909";
$aruba-icon-arrow-drop-down: "\e90a";
$aruba-icon-arrow-drop-up: "\e90b";
$aruba-icon-arrow-left: "\e90c";
$aruba-icon-aruba: "\e90d";
$aruba-icon-attach: "\e90e";
$aruba-icon-building: "\e90f";
$aruba-icon-bulb: "\e910";
$aruba-icon-calendar: "\e911";
$aruba-icon-captive-portal: "\e912";
$aruba-icon-chart-bar-vertical: "\e913";
$aruba-icon-chart-line: "\e914";
$aruba-icon-chart-pie: "\e915";
$aruba-icon-chat: "\e916";
$aruba-icon-checkbox-checked: "\e917";
$aruba-icon-check-box-indeterminate: "\e918";
$aruba-icon-checkbox-unchecked: "\e919";
$aruba-icon-checkmark: "\e91a";
$aruba-icon-checkmark-circle: "\e91b";
$aruba-icon-chevron-down: "\e91c";
$aruba-icon-chevron-left: "\e91d";
$aruba-icon-chevron-right: "\e91e";
$aruba-icon-chevron-up: "\e91f";
$aruba-icon-close: "\e920";
$aruba-icon-cloud: "\e921";
$aruba-icon-cloud-security: "\e922";
$aruba-icon-cloud-up: "\e923";
$aruba-icon-cluster: "\e924";
$aruba-icon-compliance: "\e925";
$aruba-icon-connectivity: "\e926";
$aruba-icon-copy: "\e927";
$aruba-icon-dashboard: "\e928";
$aruba-icon-desktop: "\e929";
$aruba-icon-device-any: "\e92a";
$aruba-icon-device-classified-system: "\e92b";
$aruba-icon-device-classified-user: "\e92c";
$aruba-icon-device-unclassified: "\e92d";
$aruba-icon-difference: "\e92e";
$aruba-icon-download: "\e92f";
$aruba-icon-drag-and-drop: "\e930";
$aruba-icon-edit: "\e931";
$aruba-icon-exit: "\e932";
$aruba-icon-eye: "\e933";
$aruba-icon-eye-no: "\e934";
$aruba-icon-file-cad: "\e935";
$aruba-icon-filter: "\e936";
$aruba-icon-firmware: "\e937";
$aruba-icon-floor: "\e938";
$aruba-icon-floorplan: "\e939";
$aruba-icon-fullscreen: "\e93a";
$aruba-icon-fullscreen-exit: "\e93b";
$aruba-icon-gateway: "\e93c";
$aruba-icon-globe: "\e93d";
$aruba-icon-hardware: "\e93e";
$aruba-icon-help-circle: "\e93f";
$aruba-icon-hierarchy: "\e940";
$aruba-icon-history: "\e941";
$aruba-icon-home: "\e942";
$aruba-icon-infinity: "\e943";
$aruba-icon-info-circle: "\e944";
$aruba-icon-infrastructure: "\e945";
$aruba-icon-inventory: "\e946";
$aruba-icon-lan: "\e947";
$aruba-icon-laptop-mobile: "\e948";
$aruba-icon-link: "\e949";
$aruba-icon-link-no: "\e94a";
$aruba-icon-list-bulleted: "\e94b";
$aruba-icon-location: "\e94c";
$aruba-icon-location-add: "\e94d";
$aruba-icon-location-edit: "\e94e";
$aruba-icon-lock: "\e94f";
$aruba-icon-lock-no: "\e950";
$aruba-icon-mail: "\e951";
$aruba-icon-minus: "\e952";
$aruba-icon-minus-circle: "\e953";
$aruba-icon-mobile: "\e954";
$aruba-icon-more: "\e955";
$aruba-icon-more-circle: "\e956";
$aruba-icon-move-down: "\e957";
$aruba-icon-move-up: "\e958";
$aruba-icon-neighbours: "\e959";
$aruba-icon-network-home: "\e95a";
$aruba-icon-network-services: "\e95b";
$aruba-icon-notification: "\e95c";
$aruba-icon-open-new-window: "\e95d";
$aruba-icon-overlay: "\e95e";
$aruba-icon-path-steering: "\e95f";
$aruba-icon-performance: "\e960";
$aruba-icon-person: "\e961";
$aruba-icon-person-group: "\e962";
$aruba-icon-phone: "\e963";
$aruba-icon-port: "\e964";
$aruba-icon-port-poe: "\e965";
$aruba-icon-presence-analytics: "\e966";
$aruba-icon-radio: "\e967";
$aruba-icon-radio-button-selected: "\e968";
$aruba-icon-radio-button-unselected: "\e969";
$aruba-icon-refresh: "\e96a";
$aruba-icon-region: "\e96b";
$aruba-icon-report: "\e96c";
$aruba-icon-report-custom: "\e96d";
$aruba-icon-restore: "\e96e";
$aruba-icon-rogue: "\e96f";
$aruba-icon-routing: "\e970";
$aruba-icon-ruler: "\e971";
$aruba-icon-sass-express: "\e972";
$aruba-icon-scale-linear: "\e973";
$aruba-icon-scale-log: "\e974";
$aruba-icon-schedule: "\e975";
$aruba-icon-scholar: "\e976";
$aruba-icon-search: "\e977";
$aruba-icon-security: "\e978";
$aruba-icon-security-rogue: "\e979";
$aruba-icon-security-wids: "\e97a";
$aruba-icon-sessions: "\e97b";
$aruba-icon-settings: "\e97c";
$aruba-icon-shutdown: "\e97d";
$aruba-icon-snooze: "\e97e";
$aruba-icon-sort-ascending: "\e97f";
$aruba-icon-sort-descending: "\e980";
$aruba-icon-status-fair: "\e981";
$aruba-icon-status-good: "\e982";
$aruba-icon-status-poor: "\e983";
$aruba-icon-status-unknown: "\e984";
$aruba-icon-summary: "\e985";
$aruba-icon-switch: "\e986";
$aruba-icon-switch-replace: "\e987";
$aruba-icon-switch-stack: "\e988";
$aruba-icon-tablet: "\e989";
$aruba-icon-tag: "\e98a";
$aruba-icon-thumb-down: "\e98b";
$aruba-icon-thumb-up: "\e98c";
$aruba-icon-toggle-off-path1: "\e98d";
$aruba-icon-toggle-off-path2: "\e98e";
$aruba-icon-toggle-off-path3: "\e98f";
$aruba-icon-toggle-on-path1: "\e990";
$aruba-icon-toggle-on-path2: "\e991";
$aruba-icon-toggle-on-path3: "\e992";
$aruba-icon-tool: "\e993";
$aruba-icon-topology: "\e994";
$aruba-icon-trash: "\e995";
$aruba-icon-tunnel: "\e996";
$aruba-icon-upgrade: "\e997";
$aruba-icon-upgrade-settings: "\e998";
$aruba-icon-vgw: "\e999";
$aruba-icon-vlan: "\e99a";
$aruba-icon-vpn: "\e99b";
$aruba-icon-vpnc: "\e99c";
$aruba-icon-vpnc-inet: "\e99d";
$aruba-icon-vpnc-lte: "\e99e";
$aruba-icon-vpnc-metro-eth: "\e99f";
$aruba-icon-vpnc-mpls: "\e9a0";
$aruba-icon-wan: "\e9a1";
$aruba-icon-warning: "\e9a2";
$aruba-icon-watch: "\e9a3";
$aruba-icon-wifi: "\e9a4";
$aruba-icon-wifi-no: "\e9a5";
$aruba-icon-wired: "\e9a6";

