<div class="widget-filter client-count" *ngIf="chartConfig&&chartConfig.data" [ngStyle]="{top:'-1px',right:'-3px'}">
    <mat-form-field>
        <mat-select color="primary" [(ngModel)]="filterByValue" (selectionChange)="onFilterChange(filterByValue)">
            <mat-option *ngFor="let item of filterBy" value="{{item.value}}">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filterByValue=='band'||filterByValue=='device_type'">
        <mat-select color="primary" [(ngModel)]="bandTypeValue" (selectionChange)="getClientCount()">
            <mat-option *ngFor="let item of bandTypes" value="{{item.value}}">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filterByValue=='band'">
        <mat-select color="primary" [(ngModel)]="apSerial" (selectionChange)="getClientCount()">
            <mat-option *ngFor="let item of aps" value="{{item.value}}">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="filterByValue=='network'||filterByValue=='label'||filterByValue=='group'">
        <input matInput #filterVal [(ngModel)]="filterValue" (keydown.enter)="getClientCount()">
    </mat-form-field>
</div>
<line-chart *ngIf="chartConfig&&chartConfig.data" [config]="chartConfig"></line-chart>
<span *ngIf="!chartConfig||!chartConfig.data" class="loader"><img width="170" height="100" src="/assets/images/loader.gif" alt="Loading..."><div>Loading...</div></span>